POSTGRES_ADMIN_USER=sentinel_admin
POSTGRES_ADMIN_PASSWORD=

TRANSACTION_MIGRATOR_USER=transaction_migrator
TRANSACTION_MIGRATOR_PASSWORD=

TRANSACTION_APP_USER=transaction_app
TRANSACTION_APP_PASSWORD=

RISK_MIGRATOR_USER=risk_migrator
RISK_MIGRATOR_PASSWORD=

RISK_APP_USER=risk_app
RISK_APP_PASSWORD=

AUDIT_MIGRATOR_USER=audit_migrator
AUDIT_MIGRATOR_PASSWORD=

AUDIT_APP_USER=audit_app
AUDIT_APP_PASSWORD=

NOTIFICATION_MIGRATOR_USER=notification_migrator
NOTIFICATION_MIGRATOR_PASSWORD=

NOTIFICATION_APP_USER=notification_app
NOTIFICATION_APP_PASSWORD=